extends layout

block content
  div(id="wrapper")
    div(id="content")
      div(id="header")
        div.twitter
          a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://www.streamingkollen.tv", data-text="Testa dina förutsättningar för att konsumera strömmande video i din webbläsare", data-via="InfoEyevinn") Tweet 
        div.fb-share
          div.fb-share-button(data-href="http://www.streamingkollen.tv", data-layout="button_count")
      div.logosection
        a(href="http://www.eyevinntechnology.se", border="0")
          img.logo(src='images/eyevinn-technology-700px-transparent.png')
      div.titlesection
        h3 presenterar
        h1 STREAMINGKOLLEN
      div.testsection
        p Dina förutsättningar för att kunna konsumera strömmande video i din webbläsare är:
        h2(id="result") Beräknar...
        p(id="score")
          img(src='/images/ajax-loader.gif')
        p(id="summary") 
        p.mini(id="useragent")
        table.testresult()
          tr
            td Mobil
            td(id="tMobile")
          tr
            td MSE
            td(id="tMSE")
          tr
            td EME
            td(id="tEME")
          tr
            td Flash
            td(id="tFlash")
          tr
            td NPAPI
            td(id="tNPAPI")
        p.mini(id="advanced")
    div(id="footer")
      div.disclaimer
        p Streamingkollen erbjuder endast en rekommendation och ger ingen garanti att berörda tjänster fungerar. Har du problem med någon av streaming-tjänsterna rekommenderar vi att ni hör av er till deras kundtjänst. 
        p Utgivare: Exceeds Your Expectations Vinn AB, Sköldungagatan 7, 114 27 Stockholm
    video(height=0, width=0, id="test_video")
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/swfobject.js')
    script(type='text/javascript', src='/javascripts/browsertest.js')
    script(type='text/javascript').
      $(document).ready(function() {
        var matrix = runTest();

        var e = {};
        var grade = evaluateMatrix(matrix, e);

        $("#useragent").html(navigator.userAgent);

        var steps = [
          function() { $("#tMobile").addClass(matrix['isMobile'] ? "checked" : "unchecked"); },
          function() { $("#tMSE").addClass(matrix['supportsMSE'] ? "checked" : "unchecked"); },
          function() { $("#tEME").addClass(matrix['supportsEME'] ? "checked" : "unchecked"); },
          function() { $("#tFlash").addClass(matrix['supportsFlash'] ? "checked" : "unchecked"); },
          function() { $("#tNPAPI").addClass(matrix['supportsNPAPI'] ? "checked" : "unchecked"); },
          function() {
            $("#result").html(grade);
            $("#summary").html(e['summary']);
            $("#advanced").html(e['advanced']);
            $("#score").html(scoreToHtml(toScore(grade)));
          }
        ];

        var id = setInterval(anim, 200);
        var stepcounter = 0;
        function anim() {
          if (stepcounter > steps.length-1) {
            clearInterval(id);
          } else {
            steps[stepcounter++]();
          }
        }
      }); 
