doctype html
html(lang="sv")
  head
    title= title
    meta(charset="utf-8")
    meta(name="Description", content="Testa dina förutsättningar för att kunna konsumera strömmande video i din webbläsare")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(property="og:title", content="Streamingkollen av Eyevinn Technology")
    meta(property="og:type", content="website")
    meta(property="og:description", content="Testa dina förutsättningar för att kunna konsumera strömmande video i din webbläsare")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    video(height=0, width=0, id="test_video")
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/swfobject.js')
    script(type='text/javascript', src='/javascripts/browsertest.js')
    script(type='text/javascript').
      $(document).ready(function() {
        var matrix = runTest();

        var e = {};
        var grade = evaluateMatrix(matrix, e);

        var steps = [
          function() { $("#tMobile").addClass(matrix['isMobile'] ? "checked" : "unchecked"); },
          function() { $("#tMSE").addClass(matrix['supportsMSE'] ? "checked" : "unchecked"); },
          function() { $("#tEME").addClass(matrix['supportsEME'] ? "checked" : "unchecked"); },
          function() { $("#tFlash").addClass(matrix['supportsFlash'] ? "checked" : "unchecked"); },
          function() { $("#tNPAPI").addClass(matrix['supportsNPAPI'] ? "checked" : "unchecked"); },
          function() {
            $("#result").html(grade);
            $("#summary").html(e['summary']);
            $("#advanced").html(e['advanced']);
            $("#score").html(scoreToHtml(toScore(grade)));
          }
        ];

        var id = setInterval(anim, 200);
        var stepcounter = 0;
        function anim() {
          if (stepcounter > steps.length-1) {
            clearInterval(id);
          } else {
            steps[stepcounter++]();
          }
        }
      }); 
