doctype html
html(lang="sv")
  head
    title= title
    meta(charset="utf-8")
    meta(name="Description", content="Testa dina förutsättningar för att kunna konsumera strömmande video i din webbläsare")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(property="og:title", content="Streamingkollen av Eyevinn Technology")
    meta(property="og:type", content="website")
    meta(property="og:description", content="Testa dina förutsättningar för att kunna konsumera strömmande video i din webbläsare")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74177976-1', 'auto');
      ga('send', 'pageview');

  body
    div(id="fb-root")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v2.5&appId=178495692215001";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    block content
